@tailwind base;
@tailwind components;
@tailwind utilities;


.poster-img {
    top: 7%;
    margin-top: 50%;
    left: 3%;
}
.info-title {
    margin-top: 5%;
    
}
.info-table{
    border-spacing:15px 5px;
}

.card-btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    border-color: #3498db;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 0px 4px 0px 4px;
    text-decoration: none;
    z-index: 1;  
    position: relative;  
    right: 30px; 
    bottom: 87px;
    display: none;
}

.card-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
/* below code is for displaying libraryAdd button only whine inage is hovered */
.explore-img-parent:hover  .card-btn {
    display: inline;
}

.card-btn-div{
    position: relative;
    left: 175px;
    bottom: 144px; 
}

.menu {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #ffffff; 
    /* background: #d6d5d5;  */
}

.menu-item {
    cursor: pointer;
    padding: 5px;
    height: 28px;
    border-bottom: 1px solid rgb(187, 187, 187);
}

.menu-item:hover {
    color: #2980b9;
} 

.view-more {
    right:0%;
    margin-left: 15%;
}

.back-img {
  
    /* background-image: url("./images/back.jpg"); */
    background-image: url("../public/images/back.jpg");
  
    opacity: 0.75;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .contact-form{
    position: relative;
    display: block;
    width: 90%;
    height: 83.8vh;
    padding-top: 100px;
    top: 30%;
    left: 10%;
  }
  
  .contact-form input,.contact-form textarea{
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    backdrop-filter: blur(10px);
  }
  
  .contact-form input:focus, .contact-form textarea:focus{
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
  }

  .thanks-div{
    height: 84vh;
  }
  
  .thanks-div h1{
    padding-top: 200px;
  }
  .form-floating label{
    color: white;
  }
  .form-control::placeholder {
    color: white;
  }