@tailwind base;
@tailwind components;
@tailwind utilities;


.poster-img {
    top: 7%;
    margin-top: 50%;
    left: 3%;
}
.info-title {
    margin-top: 5%;
    
}
.info-table{
    border-spacing:15px 5px;
}
